body {
    background-image: url("../images/network.png");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.5);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    color: floralwhite;
    font-size: 3rem;
}


em {
    color: #25cff2;
    font-size: 38px;
}

.form-control {
    display: inline-block;
    width: 40%;
}

#hint_id_username {
    color: aquamarine !important;
}


.text-muted {
    color: aquamarine !important;
}


dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    color: aquamarine;
}



